

  
  	
<ion-view view-title="Home">
<div class="bar bar-header bar-positive">
  
  <button class="button icon ion-ios-gear-outline"></button>
  <h1 class="title">Cat Facts</h1>
  <button class="button icon ion-ios-plus-outline"></button>
</div>
	<ion-content  padding="true">	
    <ul class="list">
    <li class="item">
      <div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
    </li>
    <li class="item">
      <div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
    </li>
</ul>
  </ion-content>
</ion-view>
